@model blessrng.Models.Reqest

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Reqest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.First)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.First)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Second)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Second)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Third)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Third)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Out)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Out)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.In)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.In)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Out)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Out)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status.StatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.StatusName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
